
body {
    background-color: grey;
    margin: 0;
    padding: 0;
}

.app-body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.el-header {
    background-color: #eee;
    color: #333;
    padding: 0;
}

.el-footer {
    background-color: #B3C0D1;
    color: #333;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
}

.el-header .el-button {
    padding: 11px 11px;
    border: none;
    background-color: #eee;
    color: #E6A23C;
}
.el-header .el-button:hover {
    background-color: #eee;
    color: #E6A23C;
}
.el-header .el-button i {
    font-size: 28px;
}

/**
 * inline-block 默认放在 baseline (默认vertical-align为baseline)上，其高度是由 line-height 和 font-size 属性决定的。
 */
.el-header .el-dropdown {
    vertical-align: middle;
    font-size: 0px;
}

.el-header .el-image {
    height: 40px;
    width: 70px;
    margin: 5px 0;
    vertical-align: middle;
}

.el-header .el-avatar {
    height: 36px;
    margin: 7px 0;
}
